name : laravel ci cd test


on: 
   push:
    branches:
      - main

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    

 with:
  php-version: 7.2
  extensions: mbstring, bcmath  


-name: Copy .env.example to .env

  run: php -r "file_exists('.env') || copy('.env.example','.env');"

- name: Install composer dependencies
  run: composer install

- name: Set required directory permissions
  run: chmod -R 777 storage bootstrap/cache

- name: Generate encryption key
  run: php artisan key:generate